.container {
  display: flex;
  width: 100vw;
  height: auto;
}

.input-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.5s;
}

.input-container button {
  margin-left: 10px;
  width: 100px;
  height: 30px;
}

input {
  margin: 10px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid lightgrey;
  height: 30px;
  padding-left: 20px;
}

.show {
  transform: translateX(0);
  width: 400px;
}
.hide {
  transform: translateX(-500%);
  width: 50px;
}

.addPost {
  height: 40px;
  position: absolute;
  left: 0;
  margin: 10px;
}

.collection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  border-left: 1px solid lightpink;
}

img {
  width: 100%;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
